body {
  padding-top: 60px;
  font-family: "Exo", sans-serif;
}

.image-crop {
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
  position: relative;
}

.imagefront {
  position: absolute;
  height: 100%;
  width: auto;
  min-width: 100%;
  min-height: 100%;
}

.img-on-hover {
  position: absolute;
  height: 100%;
  width: auto;
  min-width: 100%;
  min-height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.image-crop:hover .img-on-hover {
  opacity: 1;
}

.item-list-container {
  padding: 20px;
}

.item {
  display: flex;
  flex-direction: column;
}

/* .fade-in-section {
  opacity: 0;
  transform: translateY(5vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  will-change: opacity, visibility;
} */

/* .fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
} */

.label {
  display: flex;
  justify-content: space-between;
  padding-top: 7px;
}

.addcart {
  display: flex;
  align-items: center;
  color: rgb(204, 204, 204);
  cursor: pointer;
}
