.footer {
  background-color: rgb(54, 54, 54);
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  color: white;
}

.input {
  width: 280px;
}

.iconbuttons {
  color: white;
}

.disclaimers {
  padding-top: 12px;
  color: rgb(212, 212, 212);
  font-size: 10px;
}
